@mixin mobile{
    @media screen and (max-width:480px){
        @content;
    }
}
@mixin tablet{
    @media screen and (max-width:768px){
        @content;
    }
}
@mixin laptop{
    @media screen and (max-width:1200px){
        @content;
    }
}

//Messages
.home{
    background-color: #171719;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
   
}
.containerr{
    display: flex;
    width:100%;
    height: 100%;
    flex-direction: row;
    overflow: hidden;
    @include tablet{
        width: 100%;
        height: 100%;
    }  
}
.leftnav {
    flex: 0.12;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #007AFF;
    height: 100vh;
    .user{
        background-color: #001835;
        display: flex;
        padding: 10px;
        justify-content: center;
        img{
            background-color: #3e3c62;
            height: 5vh;
            border-radius: 50%;
            border: 2px solid white;

            object-fit: cover;
        }
    }
    .icons {
        height: 17vh;
        padding: 10px 0;
    }

    .icons:hover {
        background-color: #141460;
    }

    .active {
        background-color: #141460;
    }
    .customPopover {
        background-color: #283593; /* Dark blue background color */
        width: 250px; /* Adjust the width as needed */
        padding: 10px; /* Add padding if necessary */
      }
      
      .customPopover Button {
        color: white;
      }
}

.sidebar{
    background-color: #F6F6F6;
    flex: 1;
    border-right: 1px solid #3e3c61;
    position: relative; 
    color: black;
    .navbar{
        display: flex;
        align-items: center;
        background-color: #DDDDDD;
        height: 6%;
        padding: 10px;
        margin-bottom: 0;
        justify-content: space-between;
        color: black;
        .logo{
            font-weight: bold;
            @include tablet{
                display: none;
            }
        }
        .user{
            display: flex;
            gap: 10px;
            img{
                background-color: #3e3c62;
                height: 24px;
                width: 24px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        button{
            background-color:#0F82FF ;
            color:#ddddf7 ;
            font: 10px;
            border: none;
            cursor: pointer;
            @include tablet{
               position: absolute;
               bottom: 10px;
            }
        }
        
       
    }
    .search{
        border-bottom: 1px solid gray;
        text-align: left;
        .searchForm{
            padding: 10px;

            input{
                background-color:transparent;
                border: none;
                color: black;
                outline: none;

                &::placeholder{
                    color: black;
                }
             }
        }
    }
    .userChat{
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
       padding: 10px;
       display: flex;
       align-items: center;
       gap: 10px;
       color: black;
       cursor: pointer;
       width: 100%;
       text-align: left;
       &:hover{
        background-color: #DDDDDD;
       }
       .userChatInfo{
        span{
            font-size: 18px ;
            font-weight: 500;
            
        }
        p{
            font-size: 14px;
            color:black;
        }
       }
    }

}

.chat{
    background-color: #F6F6F6;
    flex: 2;
    .chat_Info{
        text-align: left;
        height: 50px;
        background-color: #F6F6F6;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: black;
    }
    .chatIcons{
        display: flex;
        gap: 10%;

    }
    .messages::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
      }
    .messages{
        background-color: #C4C4C4;
        padding: 10px;
        height:calc(100% - 99px) ;
        overflow: scroll;
         overflow-x: hidden;
        
        .message{
            display: flex;
            gap:20px;
            
            .messageInfo{
                display: flex;
                flex-direction: column;
                color:gray ;
                font-weight: 300;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }.messageContent{
                max-width: 80%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                p{
                    background-color: #007AFF;
                    padding: 10px 20px;
                    border-radius: 0px 10px 10px 10px ;
                    max-width: max-content;
                }
                img{
                    width: 50%;
                    height: 70%;
                    border: 2px solid white ;
                }
            }
            &.owner{
                flex-direction: row-reverse;
                .messageContent{
                    align-items: flex-end;
                p{
                    background-color: #001835;
                    color: white;
                    border-radius: 10px 0px 10px 10px;
                }
            }
            }
        }
    }
    .input{
        height: 50px;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input{
            width: 100%;
            border:none;
            outline: none;
            color:#393940;
            font-size: 18px;

            &::placeholder{
                color: lightgray;
            }
        }

        .send{
            display:flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            button{
                border: none;
                padding: 10px 15px;
                color: white;
                 background-color: #0F82FF ;
            }
        }
    }
}

//Zoom
.zoom{
    height:calc(100%);
    display: flex;
    flex-direction: column;
    margin: auto;
     width: 50%;
    padding: 10px;
}
//AnnouncementSection
.AnnouncementSection{
    display: flex;
    flex-direction: row;
    background: #DDDDDD;
    height: 100vh;
    .Navigation{
        width: auto;
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        flex:0.12;
    }
    .main{
        overflow:scroll;
        overflow-x: hidden;
        flex:3;
    }
}

//jobPortal
.jobportal{
    display: flex;
    flex-direction: row;
    background: #DDDDDD;
    height: 100vh;
    
    
    .Navigation{
        width: auto;
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        flex:0.12;
    }
    .main{
        overflow:scroll;
        overflow-x: hidden;
        flex:3;
        h1{
            color: black;
        }
    }
}

//Application Form

.application{
    display: flex;
    flex-direction: row;
    background:  #DDDDDD;
    height: 100vh;
    .Navigation{
        flex:0.12;
    }
    .form{
        flex:3;
        overflow:scroll;
        overflow-x: hidden;
        
    }
}
.applicationForm{
    display: flex;
    justify-content: space-between;
    margin:6% 0 5% 0;
    align-items: center;
    flex-direction: column;
}
.applicationHeader{
    margin: 4% 0 0 0;
}

#zmmtg-root {
    display: none;
}