.home{
    background-color: #171719;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
    .containerr{
        border:1px solid white;
        display: flex;
        border-radius: 10px;
        width:95%;
        height: 95%;
        flex-direction: row;
        overflow: hidden;
        .sidebar{
            background-color: #393940;
            flex: 1;
            border-right: 1px solid #3e3c61;
            .navbar{
                display: flex;
                align-items: center;
                background-color: #2E2E33;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: #ddddf7;
                .logo{
                    font-weight: bold;
                }
                .user{
                    display: flex;
                    gap: 10px;
                }
                button{
                    background-color:#393940 ;
                    color:#ddddf7 ;
                    font: 10px;
                    border: none;
                    cursor: pointer;
                }
                
               
            }
            .search{
                border-bottom: 1px solid gray;
                .searchForm{
                    padding: 10px;

                    input{
                        background-color:transparent;
                        border: none;
                        color: white;
                        outline: none;

                        &::placeholder{
                            color: white;
                        }
                     }
                }
            }
            .userChat{
               padding: 10px;
               display: flex;
               align-items: center;
               gap: 10px;
               color: white;
               cursor: pointer;

               &:hover{
                background-color: #2f2d52;
               }
               .userChatInfo{
                span{
                    font-size: 18px ;
                    font-weight: 500;
                }
                p{
                    font-size: 14px;
                    color:lightgray;
                }
               }
            }

        }
        .chat{
            background-color: #2E2E33;
            flex: 2;
            
        }
    }
}